@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  color: #ffffff;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  background-color: transparent;
}
.option-active {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.option-active-select {
  background-color: #000000;
  color: #ffffff;
}

.option-inactive {
  color: #000000;
}
.orientation-list {
  display: block;
}

.orientation-list-selected {
  font-weight: 400;
}

.orientation-list-unselected {
  font-weight: 200;
}
.position-center {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.position-center-active {
  color: #ffffff;
}
.position-center-active {
  color: gray;
}
